{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
        <h1 class="page-header">Add Sale</h1>
</div>
<br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Add Sale</div>
                <div class="panel-body">
                    <form class="form" method="POST"> 
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.item.errors}}
                        <label>Item</label>
                        {{form.item}}
                    </div>                    
                    <div class="form-group">
                        {{form.quantity.errors}}
                        <label>Quantity</label>
                        <input name="quantity" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        {{form.date.errors}}
                        <label>Date</label>
                        {{form.date}}
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-success" type="submit" value="Save" />
                        <input class="btn btn-danger" type="button" onclick="window.location.replace('/sales')" value="Cancel" />
                    </div>
                        <!-- <button type="button" class="btn btn-primary">Save Changes</button> -->        
                    </form>                    
                </div>
        </div>      
    </div>
</div>

{% endblock content %}