{% extends "base.html" %}
{% load staticfiles %}

{% block content %}  

<style type="text/css">
    h1{
        color: #34B8B8;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sales History</h1>
    </div>
</div> 

<div class="row">
    <div class="col-lg-12"> 
    {% if salesLen > 0 %}

        <table id="arrival" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Location</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
        {% for sale in sales_list  %}
            <tr>
                <td>{{ sale.date }}</td>
                <td>{{ sale.customer }}</td>
                <td>{{ sale.location }}</td>
                <td>
                    
                        <table class="table table-bordered" style="margin-bottom:0; font-size:12px;">
                            <tr>
                                <td><strong>Item</strong></td>
                                <td><strong>Quantity</strong></td>
                                <td><strong>Unit Cost</strong></td>
                                <td><strong>Total Cost</strong></td>
                            </tr>
                            {% for item in sale.itemsale_set.all %}
                            <tr>
                                <td>{{item.item}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.item.unit_cost}}</td>
                                <td>{{item.total_cost }}</td>
                            </tr>
                             {% endfor %}
                            <tr>
                                <td colspan="3"><strong>Grand Total</strong></td>
                                <td><strong>{{ sale.get_grand_total}}</strong></td>
                            </tr>
                        </table>
                </td>
            </tr>
                {% endfor %}
                {% else %}
                <p>No arrivals listed. </p>
                {% endif %}
            </tbody>
        </table>
    </div>                                                                                                  
    </div>
</div>

{% endblock %}