{% extends "base.html" %}
{% load staticfiles %}

{% block content %}  

<form action="#">
    <input type="submit" value="Add Sale">
</form>
<br>


<div class="row">
    <div class="col-lg-12"> 
        <div class="panel panel-default">
            <div class="panel-heading">Sales Data</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr bgcolor="#FFFF99">
                            <th>Store Code</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Cost</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> E­1­40 </td>
                            <td> Amplifier </td>
                            <td> Boston </td>
                            <td> BP20 20 watts </td>
                            <td> 1099.99 </td>
                            <td> 3 </td>
                            <td> 3299.97 </td>
                            <td>
                            <form action="#">
                                <input type="submit" value="Details">
                            </form>
                            </td>
                            <td>
                            <form action="#">
                                <input type="submit" value="Edit">
                            </form>
                            </td>
                            <td>
                            <form action="#">
                                <input type="submit" value="Delete">
                            </form>
                            </td>   
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}