{% extends "base.html" %}
{% load staticfiles %}

{% block content %}  

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Update Sale</div>
                <div class="panel-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Item</label>
                            <input name="item" type="text" class="form-control" value="{{soldItem.item}}">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input name="quantity" type="text" class="form-control" value="{{soldItem.quantity}}">
                        </div>  
                        <div class="form-group">
                            <label>Date</label>
                            <input name="date" type="text" class="form-control" value="{{soldItem.sale.date}}">
                        </div>  
                        
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Update">
                            <input class="btn btn-danger" type="button" onclick="window.location.replace('/soldItems')" value="Cancel" />
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

{%  endblock %}