{% extends "base.html" %}
{% load staticfiles %}


{% block content %}  
<br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Update Settings</h4>
                </div>
                <div class="panel-body">
                    <form class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-center">
                            <img src="/media/{{account.avatar}}" style="width:300px;height:300px;" class="img-circle">
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input type="file" name="avatar" class="form-control">
                        </div>
                        <div class="form-group">
                          <label>New Password</label>
                          <input name="new_password" type="password" id="inputPassword" class="form-control">
                        </div>
                        <!-- <div class="form-group">
                            <button type="submit" ><a href="/change_password/">Change Password</a></button>
                        </div> -->
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">Save</button>
                          <a href="{% url 'settings' %}" class="btn btn-danger">Cancel</a>
                          <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}