{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Notifications</h1>
        <!-- <a href="#" class="btn btn-default" data-toggle="modal" data-target="#addTransferModal">Add New Transfer</a> -->
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12"> 
        <table id="transfer" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Total Quantity</th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items_list %}
                    {% if item.total_quantity < 5 %}
                <tr>
                  <td>{{item.store_code}}</td>
                  <td>{{item.total_quantity}}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
