{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add New Arrival</div>
    <div class="panel-body">
      <br>
      <br>
      <div class="container">
        <form role="form">
          <div class="form-group">
          <div class="col-xs-2">
              <label for="ex1">Date</label>
              <input class="form-control" id="ex1" type="text">
            </div>
            <div class="col-xs-3">
              <label for="ex2">Delivery Receipt</label>
              <input class="form-control" id="ex2" type="text">
            </div>
            <div class="col-xs-3">
              <label for="ex3">Tracking Number</label>
              <input class="form-control" id="ex3" type="text">
            </div>
            <div class="col-xs-3">
              <label for="ex3">Supplier</label>
              <input class="form-control" id="ex3" type="text">
            </div>
          </div>
        </form>
      </div>
      <br>
      <br>
      <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
          <tr bgcolor="#FFFF99">
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Item Cost</th>
            <th></th>
          </tr>
        </thead>

        {% for arrival in object_list %}
        <tbody>
          <tr class="table">
            <td>{{ arrival.itemName }}</td>
            <td>{{ arrival.qty }}</td>
            <td>{{ arrival.itemCost}}</td>
            <td class="pager">
             <li> <button class="btn btn-default" data-toggle="modal" data-target="#arrivals-{{arrival.id}}" aria-label="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="false"></span> Update</button></li>
             <li><a onclick="confirmArrivalDelete({{arrival.id}});" >Delete</a></li>
           </td>
         </tr>
       </tbody>
       <div class="modal fade" id="arrivals-{{arrival.id}}" tabindex="-1" role="dialog" aria-labelledby="arrivals-{{arrival.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="arrival-{{arrival.id}}">Update arrival</h4>
                            </div>
                            <form class="form" action="/arrival_list/update/{{arrival.id}}/" method="POST">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Item Name</label>
                                        <input name="itemName" type="text" class="form-control" value="{{arrival.itemName}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input name="qty" type="text" class="form-control" value="{{arrival.qty}}">
                                    </div>
                                    <div class="form-group">
                                        <label>Item Cost</label>
                                        <input name="itemCost" type="text" class="form-control" value="{{arrival.itemCost}}">
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <input class="btn btn-success" type="submit" value="Update">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                        <input type="hidden" name="next" value="{{ next }}" />
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary">Save Changes</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
       {% endfor %}
       <tr>
        <th colspan="9" >
         <a href="{% url "arrival_form" %}" class="btn btn-default btn-sm btn-block" role="button" >New</a>
       </th>
     </tr>
   </table>
   <br>
   <br>
   <div class="col-lg-6">
    <button type="button" class="btn btn-primary btn-lg btn-success pull-right" >DONE</button>
  </div>
</div>
</div>
</div>
</div>
</body>  

{% endblock content %}
