{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<form class="form form-horizontal" method="POST">                        
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" style="margin-bottom:0">
                <div class="panel-heading">1. Details & Description</div>
                <div class="panel-body">
                    {% if messages %}
                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    {% for message in messages %}
                                    <p 
                                    {% if message.tags == "warning"%} class="alert alert-warning" class="close" data-dismiss="alert" aria-label="close" 
                                    {% elif message.tags == "success"%} class="alert alert-success" class="close" data-dismiss="alert" aria-label="close" 
                                    {% endif %}>{{ message }}
                                    </p>
                                    {% endfor %}   
                                </center>     
                            </div>
                        </div>
                    {% endif %}
                    <div class= "form-group">
                        {{form.item_code.errors}}
                        <label class="col-md-2 control-label">Item Code</label>
                        <div class="col-md-10">
                            <input name="item_code" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.name.errors}}
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                        {{form.name}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.description.errors}}
                        <label class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                        {{form.description}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.category.errors}}
                        <label class="col-md-2 control-label">Category</label>
                        <div class="col-md-10">
                        {{form.category}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.brand.errors}}
                        <label class="col-md-2 control-label">Brand</label>
                        <div class="col-md-10">
                        {{form.brand}}
                        </div>
                     </div>
                    <div class= "form-group">
                        {{form.model.errors}}
                        <label class="col-md-2 control-label">Model</label>
                        <div class="col-md-10">
                        {{form.model}}
                        </div>
                    </div>
                    <div class= "form-group">
                        {{form.unit_cost.errors}}
                        <label class="col-md-2 control-label">Unit Cost</label>
                        <div class="col-md-10">
                        {{form.unit_cost}}
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        <div class="col-md-8">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">2. Supplier Details</div>
                <div class="panel-body">
                    <div id="supplier-dropdown" class= "form-group">
                        {{form.supplier.errors}}
                        <label class="col-md-2 control-label"> Supplier <a id="new-supplier"><small>(Add New?)</small></a></label>
                        <div class="col-md-10">
                            {{form.supplier}}      
                        </div>                  
                    </div>
                    <div id="supplier-form" style="display:none;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="supplier_name" type="text" class="form-control" value=''>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input name="supplier_address" type="text" class="form-control" value=''>
                            </div>
                         </div>                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default" style="margin-bottom:0">
                <div class="panel-heading">3. Stock Tracking</div>
                <div class="panel-body">
                    <div class="form-group">
                        <table class="table table-add-item" border="0px">
                            <tr>
                                <td style="border:none;color:#4BC7AC;font-weight:bold">Location</td>
                                <td style="border:none;color:#4BC7AC;font-weight:bold" width="50"></td>
                                <td style="border:none;color:#4BC7AC;font-weight:bold">Current Stock</td>
                                <td style="border:none;color:#4BC7AC;font-weight:bold">Re-order point</td>
                                <td style="border:none;color:#4BC7AC;font-weight:bold">Re-order amount</td>
                            </tr>
                            {% for loc in locations %}
                            <tr>
                                <td style="border:none;">{{loc.name}}</td>
                                <td style="border:none;" width="50"></td>
                                <td style="border:none;"><input type="text" name="current_stock_{{loc.id}}" class="form-control" value="0"></td>
                                <td style="border:none;"><input type="text" name="re_order_point_{{loc.id}}" class="form-control" value="0"></td>
                                <td style="border:none;"><input type="text" name="re_order_amount_{{loc.id}}" class="form-control" value="0"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" style="padding-left:20px;">
                <input style="width:20%;" class="btn btn-success" type="submit" id="btn-success" value="Save" />
                <input class="btn btn-danger" type="button" onclick="window.location.replace('/items/')" value="Cancel" />
            </div>
        </div>
    </div>
</form>                    

{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $('#item_on_stock').change(function () {
            if ($('#item_on_stock').is(':checked')) {
                $('#additional-details').show("slow");
            } else {
                $('#additional-details').hide();
            }
        });
        $('#new-supplier').click(function () {
            $('#supplier-form').show("slow");
            $('#new-supplier').hide();
            $('#supplier-dropdown').hide();
        });
    </script>
{% endblock %}