body, html, p {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

body table {
	/*color: white;*/
	background-color: white;
	color: black;
}

.white {
	color: white;
}

.page-header {
	border-bottom: 0;
}
body p {
	color: white;
}
body a, html a {
	color: #4BC7AC;
}

body{
	background: rgba(0,0,0,.1); 
}

.btn.btn-theme {
	background: #4BC7AC;
	color: white;
} 

.add-row {
    margin-top: 10px;
    width: 150px;
}

#id_add th {
    padding: 10px;
    text-align: center;
}
#id_add td {
    padding: 10px;
    text-align: center; 
}

h2{
    color: #34B8B8;
}

form{
    color: #34B8B8;
}

.page-header {
	font-weight: bold;
	margin-top: 0;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
}

.alert.alert-dark, .panel.panel-dark{
	background-color: #e5fff2;
	/*background-color: #FFFF99;*/
	/*color: #5a5c51;*/
	color: #333;
	/*border-radius: 10px;*/
}
.panel-default > .panel-heading {
    color: black;
    background-color: #e5fff2;
    border-color: #DDD;
}

.panel.panel-gray {
}

ul.errorlist {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:0;
	color: red;
	font-size: 11px;
}
	
#wrapper {
	background: #DFE6E5;
}

.export-btn-group {
	float: right;
	margin-top: 25px;
}

.export-btn-group a {
	width: 150px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li i {
	color: #F8F9F6;
}
#wrapper .navbar-default.sidebar .sidebar-nav ul li i:hover{
	color: white;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	background: transparent;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover, #wrapper .navbar-default.sidebar .sidebar-nav ul li a:focus {
    text-decoration: none;
    background-color: #34B8B8;
}

#wrapper .navbar.navbar-default {
	background: #333333;
	border-color: transparent;
}
#wrapper .navbar.navbar-default ul.navbar-right li a {
	color: white;
}
#wrapper .navbar.navbar-default ul.navbar-right li a i {
	color: white;
}
#wrapper .navbar.navbar-default ul.navbar-right li a:hover {
	color: black;
}

#wrapper .navbar-default.sidebar {
	background: #007777;
	margin-top: 0;
}
#wrapper {
    background: #007777 none repeat scroll 0% 0%;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li.no-border:hover {
    border-right: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:hover {
    /*border-right: 3px solid #e99d1a;*/
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:focus {
    background: transparent;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	color: white;
	font-size: 15px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover{
	background: #03B3B3;
	color: white;
}

#wrapper #page-wrapper {
	padding: 30px;
	background: #333333;
	/*border-style: #007777;*/
	border-left: none;
	left: #007777;
}
