body, html, p {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}

#wrapper {
	background: #30426a;
}

.export-btn-group {
	float: right;
	margin-top: 25px;
}

.export-btn-group a {
	width: 150px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	background: #30426a;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover, #wrapper .navbar-default.sidebar .sidebar-nav ul li a:focus {
    text-decoration: none;
    background-color: #2d3e63;
}

#wrapper .navbar.navbar-default {
	background: white;
	border-color: transparent;
}

#wrapper .navbar-default.sidebar {
	background: #30426a;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li.no-border:hover {
    border-right: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:hover {
    /*border-right: 3px solid #e99d1a;*/
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:focus {
    background: transparent;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	color: white;
	font-size: 15px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover{
	background: #2d3e63;
}

#wrapper #page-wrapper {
	background: #f3f3f3;
}
