.alert-custom, .panel.panel-custom, .panel.panel-custom .panel-heading {
	background-color: white;
	border-radius: 0;
}

/* Global Styles */
#wrapper, #page-wrapper {
	position: relative;
}

/* DASHBOARD STYLES */

.card-box {
	padding: 20px;
	background-color: #fff;
}

.card-box-wrapper .card-box {
	color: #34B8B8;
}

.card-box-wrapper:hover  {
	text-decoration: none;
	color: #34B8B8;
}

.page-bottom {
	position: absolute;
	bottom: 0;
	width: 90%;
}

.page-bottom p {
	font-size: 11px;
	text-align: center;
	color: white;
}

body, html, p {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 100%;
	min-height: 100%;
}

table.table-custom {
	font-size: 14px;
	text-align: center;
}

table.table-custom thead tr th, table.table-custom tfoot tr th {
	text-align: center;
}

table.table-custom .border-left {
	border-left: 1px solid #D7D7D7;
}

body table {
	/*color: white;*/
	background-color: white;
	color: black;
}

.white {
	color: white;
}

.page-header {
	border-bottom: 0;
	color: #34B8B8;
}
body p {
	color: #03B3B3;
}
body a, html a {
	color: #4BC7AC;
}

body{
	background: rgba(0,0,0,.1); 
}

.btn.btn-theme {
	background: #34B8B8;
	color: white;
} 

.add-row {
    margin-top: 10px;
    width: 150px;
}

#id_add th {
    padding: 10px;
    text-align: center;
}
#id_add td {
    padding: 10px;
    text-align: center; 
}

h2{
    color: #34B8B8;
}

form{
    color: #34B8B8;
}

.page-header {
	font-weight: bold;
	margin-top: 0;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
}

.alert.alert-dark, .panel.panel-dark{
	background-color: #e5fff2;
	/*background-color: #FFFF99;*/
	/*color: #5a5c51;*/
	color: #333;
	/*border-radius: 10px;*/
}

.panel-default > .panel-heading {
    color: black;
    background-color: #e5fff2;
    border-color: #DDD;
}

.panel.panel-gray {
}

ul.errorlist {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left:0;
	color: red;
	font-size: 11px;
}
	
#wrapper {
	background: #DFE6E5;
}

.export-btn-group {
	float: right;
	margin-top: 25px;
}

.export-btn-group a {
	width: 150px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li i {
	/*color: #333333/*#F8F9F6*/;
	color: white;
}
#wrapper .navbar-default.sidebar .sidebar-nav ul li i:hover{
	color: white;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	background: transparent;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover, #wrapper .navbar-default.sidebar .sidebar-nav ul li a:focus {
    text-decoration: none;
    background-color: #34B8B8;
}

#wrapper .navbar.navbar-default {
	background: #333333;
	border-color: transparent;
}

#wrapper .navbar.navbar-default ul.navbar-right li a {
	color: white;
}
#wrapper .navbar.navbar-default ul.navbar-right li a i {
	color: white;
}

#wrapper .navbar.navbar-default ul.navbar-right li ul.dropdown-menu {
	background-color: #6D696A;
}

#wrapper .navbar.navbar-default ul.navbar-right li a.dropdown-toggle:hover {
	background-color: #6D696A;
}

#wrapper .navbar.navbar-default ul.navbar-right li.open a:focus, 
#wrapper .navbar.navbar-default ul.navbar-right li.open a:hover{
	background-color: rgba(0,0,0,.2) !important;
}

#wrapper .dropdown-menu {
	background: #333333;
}
#wrapper .navbar-default.sidebar {
	background: #007777;
	margin-top: 0;
}
#wrapper {
    background: #007777 none repeat scroll 0% 0%;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li {
	border-bottom: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li.no-border:hover {
    border-right: none;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:hover {
    /*border-right: 3px solid #e99d1a;*/
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li:focus {
    background: transparent;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a{
	color: white;
	font-size: 15px;
}

#wrapper .navbar-default.sidebar .sidebar-nav ul li a:hover{
	background: #03B3B3;
	color: white;
}

#wrapper #page-wrapper {
	padding: 30px;
	background-image: url('/static/img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #333333;*/
	/*border-style: #007777;*/
	border-left: none;
	left: #007777;
}
