{% extends "login_base.html" %}
{% load staticfiles %}

{% block content %}




<!--     <div class="container">
 -->
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="first_name" class="sr-only">Email address</label>
        <input type="text" id="first_name" class="form-control" placeholder="Email address" required autofocus>
        <label for="last_name" class="sr-only">Password</label>
        <input type="text" id="last_name" class="form-control" placeholder="Password" required>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

   <!--  </div> --> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="static/login/js/ie10-viewport-bug-workaround.js"></script> -->

{% endblock content %}