<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>JCREL INVENTORY</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="/static/components/font-awesome/css/font-awesome.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">  
  <link rel="stylesheet" type="text/css" href="/static/components/dashboard/css/sb-admin-2.css">

  <!-- Fonts -->
  <link href='/static/css/fonts.css' rel='stylesheet' type='text/css'>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="static/login/css/signin.css" rel="stylesheet">
  <script src="static/login/js/ie-emulation-modes-warning.js"></script>
</head>
<body>
    <div class="form-wrapper" style="padding: 50px 0;">
      {% block content %}{% endblock %}
    </div>

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script src="/static/components/dashboard/js/sb-admin-2.js"></script>

</body>
</html>