
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>JCREL Inventory</title>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all" >
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css">
  </head>
  <body id="page-top" class="index">
    <div id="header-wrapper">
      <div id="header" class="container">   
<!-- ================================================================================= -->
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Homepage</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Contact</a>
                    </li>
                    <li>
                        <a href="/login/">Sign In</a>
                    </li>
                    <li>
                        <a href="/signup/">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- ====================================================================================== -->
      <div id="banner" class="container">
        <div class="title">
          <h2>JCREL</h2>
          <span class="byline">Inventory Management System</span>
        </div>
        <ul class="actions">
          <li><a href="#" class="button">Learn More</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="three-column" class="container">
        <div class="title">
          <h2>Our Vision</h2>
          <span class="byline">A high quality product that will guide users in making good decisions for their business specifically in determining when to replenish inventory.</span>
        </div>
        <br>
      </div>
    </div>
    <!-- Team About -->
    <section id="about" class="bg-light-gray"></section>

    <!-- Team Contact Us -->
    <section id="contact" class="bg-light-gray"></section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <center><h2 class="section-heading">Our Team</h2></center><br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row" >
                <center>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="static/img/avatar.jpeg" class="img-responsive img-circle" alt="">
                          <h5>Josiah Eleazar Regencia</h4>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="static/img/avatar.jpeg" class="img-responsive img-circle" alt="">
                          <h5>Catherine Maglasang</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="static/img/avatar.jpeg" class="img-responsive img-circle" alt="">
                          <h5>Roselle Ebarle</h4>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="static/img/avatar.jpeg" class="img-responsive img-circle" alt="">
                          <h5>Ma. Erikka Baguio</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="static/img/avatar.jpeg" class="img-responsive img-circle" alt="">
                          <h5>Loreinne Estenzo</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                </center>                
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>

 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">                    
                    <center>
                      <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                      </ul>
                      <p class="copyright">Copyright &copy; Your Website 2014</p>                      
                    </center><br><br><br>
                </div>
            </div>
        </div>
    </footer>

  </body>
</html>