
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>JCREL Inventory</title>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all" >
    <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div id="header-wrapper">
      <div id="header" class="container">   
        <div id="logo">
          <h1><a href="#">Welcome!</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li class="active"><a href="" accesskey="1" title="">Homepage</a></li>
            <li><a href="/login/" accesskey="2" title="">Sign In</a></li>
            <li><a href="/signup/" accesskey="3" title="">Sign Up</a></li>
          </ul>
        </div>
      </div>
      <div id="banner" class="container">
        <div class="title">
          <h2>JCREL</h2>
          <span class="byline">Inventory Management System</span>
        </div>
        <ul class="actions">
          <li><a href="#" class="button">Learn More</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="three-column" class="container">
        <div class="title">
          <h2>Our Vision</h2>
          <span class="byline">A high quality product that will guide users in making good decisions for their business specifically in determining when to replenish inventory.</span>
        </div>
        <br>
        <div class="boxA">
          <p>About Us</p>
          <a href="#" class="button button-sm">More Info</a>
        </div>
        <div class="boxB">
          <p>Contact Us</p>
          <a href="#" class="button button-sm">More Info</a>
        </div>
        <div class="boxC">
          <p> Our Clients</p>
          <a href="#" class="button button-sm">More Info</a>
        </div>
      </div>
    </div>

    <div id="copyright" class="container">
      <p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
  </body>
</html>
