{% extends "base_landing.html" %}
{% load staticfiles %}

{% block content %}
    <header>
        <div id="header-wrapper">
            <div id="header" class="container"> 
                <div class="row">
                    <div class="col-lg-12">
                        <img class="header-img img-circle" src="/static/img/header-bg.jpg" alt="">
                        <div class="intro-text">
                            <span class="name">JCREL INVENTORY</span>
                            <!-- <hr class="star-light"> -->
                            <span class="skills">The most awesome system for inventory tracking and control.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <h2>About JCREL INVENTORY</h2>
                    <br>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <p>JCREL is a high quality product that will guide users in making good decisions for their business specifically in determining when to replenish inventory. We are on a mission to to create a system which will track business sales transactions and inventory in an efficient way. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">Our Team</h2><br>
                </div>
            </div>
            <br><br>
            <div class="row" >
                <center>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="/static/img/josiah.jpg" class="img-responsive img-circle" alt="">
                          <h5>Josiah Eleazar Regencia</h4>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="/static/img/catherine.jpg" class="img-responsive img-circle" alt="">
                          <h5>Catherine Maglasang</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="/static/img/roselle.jpg" class="img-responsive img-circle" alt="">
                          <h5>Roselle Ebarle</h4>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="/static/img/erikka.jpg" class="img-responsive img-circle" alt="">
                          <h5>Ma. Erikka Baguio</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="team-member">
                          <img src="/static/img/loreinne.jpg" class="img-responsive img-circle" alt="">
                          <h5>Loreinne Estenzo</h5>
                          <p class="text-muted">Lead Developer</p>
                      </div>
                  </div>
                </center>                
            </div>
        </div>
    </section>

    <!-- 
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h2 class="section-heading">Contact Us</h2>                               
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                         
                </div> 
            </div>            
        </div>        
    </section> -->
{% endblock %}