{% extends "base.html" %}
{% load staticfiles %}

{% block content %}  
<div class="row">
    <h1 class="page-header">Inventory Items</h1>
</div> 
<br>
{% if messages %}
    <div class="row">
        <div class="col-md-12">
            <div class="message text-center">
            {% for message in messages %}
                <p 
                {% if message.tags == "warning"%} class="alert alert-warning" class="close" data-dismiss="alert" aria-label="close" 
                {% elif message.tags == "success"%} class="alert alert-success" class="close" data-dismiss="alert" aria-label="close" 
                {% endif %}>{{ message }}
                </p>
            {% endfor %}   
            </div>
        </div>
    </div>
{% endif %}
<div class="row">
    {% if itemLen > 0 %}
        <div class="col-md-12"> 
            <table id="items-dt" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Category</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Supplier</th>
                        <th width="10%">Actions</th>
                    </tr>
                </thead>            
                <tbody> 
                    {% for i in items %}                
                    <tr style="background:white;">                    
                        <td>{{ i.name }}</td>         
                        <td>{{ i.category }}</td>
                        <td>{{ i.brand }}</td>
                        <td>{{ i.model }}</td>
                        <td>{{ i.supplier.name}}</td>
                        <td>                           
                            <a href="/items/update/{{i.id}}/" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> </a>
                            <button onclick="confirmItemDelete({{i.id}});" class="btn btn-danger" aria-label="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>                 
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
     {% else %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              <h3 class="text-center">No Items Listed. </h3>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}