{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading" >Add Item</div>
                <div class="panel-body">
                        <!-- <div class="col-lg-12"> -->
                        <br>
                            <div class="container">
                                {% if messages %}
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-offset-1">                    
                                            {% for message in messages %}
                                            <p 
                                                {% if message.tags == "warning"%} class="alert alert-danger" class="close" data-dismiss="alert" aria-label="close" 
                                                {% elif message.tags == "success"%} class="alert alert-success" class="close" data-dismiss="alert" aria-label="close" 
                                                {% endif %}>{{ message }}
                                            </p>
                                            {% endfor %}                    
                                        </div>
                                    </div>
                                {% endif %}
                            <!-- </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="form" method="POST">
                                    {% csrf_token %}
                                    {{AddNewItemForm.as_p}}
                                    

                                    <h2>Location And Quantity</h2>

                                    <table id="id_add" width="100%" border="0" cellpadding="50" cellspacing="1500">
                                        <thead>
                                            <tr>
                                                <th scope="col">Location</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in formset %}
                                            <tr id="{{ form.prefix }}-row"  class="dynamic-form">
                                                <td>{{form.destination}}</td>
                                                <td>{{form.quantity}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                    <center><a href="javascript:void(0)" class="add-row btn btn-info">Add More</a></center>
                                   {{ formset.management_form }}
                                    <br><br>
                                    <div class="form-group">
                                        <input type="submit" class="form-control btn btn-primary" name="name" value="Submit"/>
                                    </div>
                                </form>           
                        </div>      
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock content %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function () {
        $('.add-row').click(function() {
            return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
            return deleteForm(this, 'form');
        })
    })
    </script>
{% endblock %}


   