{% extends "base.html" %}
{% load staticfiles %}

{% block content %}  

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Add Item</div>
                <div class="panel-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Types</label>
                            <input name="types" type="text" class="form-control" value="{{item.types}}">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <input name="category" type="text" class="form-control" value="{{item.category}}">
                        </div>
                        <div class="form-group">
                            <label>Brand</label>
                            <input name="brand" type="text" class="form-control" value="{{item.brand}}">
                        </div>
                        <div class= "form-group">
                            <label>Model</label>
                            <input name="model" type="text" class="form-control" value="{{item.model}}">
                        </div>
                        <div class= "form-group">
                            <label>Supplier</label>
                            <input name="supplier" type="text" class="form-control" value="{{item.supplier.name}}">
                        </div>
                        <div class= "form-group">
                            <label>Store Item Code</label>
                            <input name="item_code" type="text" class="form-control" value="{{item.item_code}}">
                        </div>
                        <div class= "form-group">
                            <label>Store Quantity</label>
                            <input name="store_quantity" type="text" class="form-control" value="{{item.store_quantity}}">
                        </div>
                        <div class= "form-group">
                            <label>Warehouse Quantity</label>
                            <input name="warehouse_quantity" type="text" class="form-control" value="{{item.warehouse_quantity}}">
                        </div>
                        <div class= "form-group">
                            <label>SRP</label>
                            <input name="srp" type="text" class="form-control" value="{{item.srp}}">
                        </div>
                        
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Update">
                            <input class="btn btn-danger" type="button" onclick="window.location.replace('/items')" value="Cancel" />
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

{%  endblock %}