{% extends "base_accounts.html" %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>JCREL INVENTORY</h2>
      <h4>Change Password</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="/change_password/" class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Username</label>
          <input name="username" type="text" class="form-control" value="{{ request.user.username }}" required autofocus>
        </div>
      
        <div class="form-group">
          <label>New Password</label>
          <input name="new_password" type="password" id="inputPassword" class="form-control" required>
        </div>
        
        <!-- {{form}} -->
        <div class="form-group">
          <input type="submit" class="form-control btn btn-primary btn-block" value="Change Password" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </form>
    </div>
  </div>
      
{% endblock content %}