{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <form role="form">
    <div class="form-group">
      <div class="col-xs-3">
        <label for="ex1">Date</label>
        <input class="form-control" id="ex1" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex2">Delivery Receipt</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex3">Tracking Number</label>
        <input class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex3">Supplier</label>
        <input class="form-control" id="ex3" type="text">
      </div>
    </div>
  </form>
</div>
<br>
<br>
  <div class="container">
    <div class="col-lg-3">
        <select class="form-control" name="Item Name-filter">
          <option>--------  Item Name  --------</option>
          <option>Amplifier</option>
          <option>String</option>
          <option>Guitar</option>
        </select>
    </div>
    <div class="col-lg-3">
        <a href="#" class="btn btn-warning">Add</a>
    </div>
  </div>

</div>

{% endblock content %}
