<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Arrival</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <form role="form">
    <div class="form-group">
      <div class="col-xs-3">
        <label for="ex1">Date</label>
        <input class="form-control" id="ex1" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex2">Delivery Receipt</label>
        <input class="form-control" id="ex2" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex3">Tracking Number</label>
        <input class="form-control" id="ex3" type="text">
      </div>
      <div class="col-xs-3">
        <label for="ex3">Supplier</label>
        <input class="form-control" id="ex3" type="text">
      </div>
    </div>
  </form>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Amplifier</a></li>
      <li><a href="#">String</a></li>
      <li><a href="#">Guitar</a></li>
    </ul>
  </div>
<br>
  <div class="container">
    <div class="col-lg-3">
        <select class="form-control" name="Item Name-filter">
          <option>--------  Item Name  --------</option>
          <option>Amplifier</option>
          <option>String</option>
          <option>Guitar</option>
        </select>
    </div>
    <div class="col-lg-3">
        <a href="#" class="btn btn-warning">Add</a>
    </div>
  </div>
<div class="container">
	<table class="table">
		<thead>
      		<tr bgcolor="#FFFFCC">
        		<th></th>
				<th>DR Number</th>
				<th>Transaction Number</th>
				<th>Supplier</th>
				<th>Quantity</th>
      		</tr>
      		<tr></tr>
    	</thead>

	{% for arrival in object_list %}
		<tbody>
		<tr class="">
			<td>{{ arrival.date }}</td>
			<td>{{ arrival.dr }}</td>
			<td>{{ arrival.trans_no}}</td>
			<td>{{ arrival.supplier }}</td>
			<td>{{ arrival.qty }}</td>
			<td class="pager">
    			<li><a href="{% url "arrival_edit" arrival.id %}">Edit</a></li>
    			<li><a href="{% url "arrival_delete" arrival.id %}">Delete</a></li>
 			 </td>
		</tr>
		</tbody>
	{% endfor %}
	<tr>
		<th colspan="7" >
			<a href="{% url "arrival_new" %}" class="btn btn-default btn-sm btn-block" role="button" >New</a>
		</th>
	</tr>
	</table>
</div>
</body>
</html>