{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<style type="text/css">
    .add-row {
        /*margin-top: 10px;*/
        /*width: 150px;*/
    }
    .delete-row {
        width: 80%;
        margin-left: 10%;
    }
    #id_transfer th {
        padding: 10px;
        text-align: center;
    }
    #id_transfer td {
        padding: 10px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h2>Transfer Stocks To Chosen Location</h2>
        <p>This page allows you to transfer your stocks to a chosen location</p><br>
    </div>
</div>
<form class="form" method="POST">  {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transfer to location:
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Date</label>
                        <input name="transfer_date" class="form-control" type="text" value="{{date}}" placeholder="{{date}}" disabled>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select name="destination_location" class="form-control" required>
                            {% for loc in locations %}
                            <option value="{{loc.id}}">{{loc.name}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>The default location (first location created) will be deducted when you transfer .</p>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Items</div>
                <div class="panel-body">
                    <table id="id_transfer" class="table table-striped" width="100%" cellpadding="50" cellspacing="1500">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Quantity</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in formset %}
                            <tr id="{{ form.prefix }}-row"  class="dynamic-form">
                                <td>{{ form.item }}</td>
                                <td>{{ form.quantity}}</td>
                                <td><a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="add-row btn btn-info">Add More Items</a>
                        <input type="submit" class="btn btn-success" name="name" value="Submit" />
                    </div>
                    
                    {{ formset.management_form }}
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/static/js/jquery.formset.js"></script>
<script type="text/javascript">
    $(function () {
        $('.add-row').click(function() {
            return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
            return deleteForm(this, 'form');
        })
    })
    </script>
{% endblock %}

