{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Locations</h1>
        <a href="/location/add" class="btn btn-theme"><span class="glyphicon glyphicon-plus"></span> Add New Location</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12"> 
        <table id="list_location" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr style="background:#333;color:white;">
                    <th>Item</th>
                    <th>Location</th>
                    <th>Quantity</th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in item_locations %}
                <tr>
                  <td>{{i.item}}</td>
                  <td>{{i.location}}</td>
                  <td>{{i.quantity}}</td>
                  <!-- <td><a class="btn btn-default" href="/location/update/{{l.id}}" aria-label="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="false"></span></a></td>
                  <td><button onclick="confirmLocationDelete({{l.id}});" class="btn btn-danger" aria-label="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="false"></span></button></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
