{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
    h1{
        color: #34B8B8;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Locations</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12"> 
        <table class="table table-striped" cellspacing="0" width="100%">
        {% if loc_len > 0%}
            <thead>
                <tr style="background:#333;color:white;">
                    <th>Name</th>
                    <th>Address</th>
                    <th width="50"></th>
                </tr>
            </thead>
            <tbody>
                {% for l in locations %}
                <tr>
                  <td>{{l.name}}</td>
                  <td>{{l.address}}</td>
                  <td><a class="btn btn-default" href="/location/update/{{l.id}}" aria-label="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="false"></span></a></td>
                  <td><button onclick="confirmLocationDelete({{l.id}});" class="btn btn-danger" aria-label="Delete"><span class="glyphicon glyphicon-remove" aria-hidden="false"></span></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-info" role="alert">
              <center><h3>No Location Listed. </h3></center>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
