{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<form action="{% url "transfer_form" %}">
    <input type="submit" value="Transfer Item">
</form>
    <br>
    </br>

<div class="row">
    <div class="col-lg-12">
    </div>
</div>

   <div class="container">
    <div class="col-lg-12">
     <div class="panel panel-default">
      <div class="panel-heading">Transfer History</div>
       <div class="panel-body">
         <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr bgcolor="#FFFF99" >
             <th>Item Code</th>
             <th>Quantity</th>
             <th>Date</th>
            </tr>
          </thead>
          <tbody>
    {% for transfer in object_list %}
            <tr>
             <td>{{transfer.item.store_code}}</td>
             <td>{{transfer.quantity_to_transfer}}</td>
             <td>{{transfer.transfer_date}}</td>
            </tr>
    {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
