{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


	<div class="row">
    <div class="col-lg-3">
        <a href="/transfer_form" class="btn btn-success">Transfer item</a>
    </div>

<div class="row">
    <div class="col-lg-12">
    </div>
</div>

   <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"><dt>Item Code </dt></div>
    <div class="col-sm-3"><dt>Quantity</dt></div>
    <div class="col-sm-3"><dt>Date</dt></div>

  </div>
</div>

  </table>
    {% for transfer in object_list %}
    
<table bgcolor="FFCCFF"> 
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">{{transfer.item.store_code}}</div>
    <div class="col-sm-3">{{transfer.quantity_to_transfer}}</div>
    <div class="col-sm-3">{{transfer.transfer_date}}</div>
  </div>
     </table>
  
    {% endfor %}

{% endblock content %}
