{% extends "base_accounts.html" %}
{% load staticfiles %}

{% block content %}
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'landing_page' %}">JCREL INVENTORY</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{% url 'landing_page' %}"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url 'landing_page' %}">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#team">Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/login">Sign in</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/signup">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<style type="text/css">
  .panel{
    background: rgba(0,0,0,.2);
  }
  body{ 
    background-image: url('/static/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
  <br><br><br><br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Please Sign In</div>
        <br>
        <div class="panel-body">
          <form action="/login/" class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label>Username</label>
              <input name="username" type="text" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="password" type="password" id="inputPassword" class="form-control" required>
            </div>
            <!-- {{form}} -->
            <br><br>
            <div class="form-group">
              <input type="submit" class="form-control btn btn-primary btn-block" value="Login" />
              <input type="hidden" name="next" value="{{ next }}" />
              <br>
              <a style="float:right;" href="/password_reset/">Forgot Password?</a>

            </div>
            <br>
            <div class="form-group">
              <hr>
              <p>New to JCREL?</p><br>
              <a href="/signup" class="btn btn-default btn-block">Signup</a>
              <p class="row" style="background-color:rgba(0,0,0,.2);"></p>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
      
{% endblock content %}