{% extends "base_accounts.html" %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
  .panel{
    background: rgba(0,0,0,.2);
  }
  body{ 
    background-image: url('/static/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
</style>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>JCREL INVENTORY</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
          <form action="/signup/" class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {% if form.errors %}
                {% for field in form %}
                  {{field.ValidationError}}
                {% endfor %}
              {% endif %} -->

              <!-- {{ form.as_p }} -->

            <!-- {% if form.errors %}
              {% for error in errors%}
                {{ error.message }}
                {% endfor %}
              {% endif %}
 -->
            <div class="form-group">
              <label>Avatar</label>
              <input type="file" name="avatar" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Username</label>
              <input name="username" type="text" class="form-control" required autofocus>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="text" class="form-control" required autofocus>
            </div>
            <div class="form-group">
              {{form.password1.errors}}
              <label>Password</label>
            <!-- {{ form.ValidationError }} -->
              <input name="password1" type="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="form-group">
                {{form.password2.errors}}
              <label>Confirm Password</label>
            <!-- {{ form.ValidationError }} -->
              <input name="password2" type="password" id="inputPassword" class="form-control" required>
            </div>
            <!-- {{form}} -->
            <div class="form-group">
              <input type="submit" class="form-control btn btn-primary btn-block" value="Sign Up" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="form-group">
              <hr>
              <p>Already have an account?</p>
              <a href="/login" class="btn btn-default btn-block">Login</a>
            </div>
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
          </form>
        </div>
      </div>
      
    </div>
  </div>
      
{% endblock content %}